/* CSS GRID INTRO */
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    row-gap: 60px;
    column-gap: 30px;
    gap: 60px 400px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  } */

  /* GRID LINES */
/* .item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item9{
    grid-column-start: 1;
    grid-column-end: 4;
} */


/* GRID CONTAINER */

/* GRID TEMPLATE COLUMNS */
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-columns: 200px auto 300px ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  } */

  /* GRID TEMPLATE ROWS */
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 500px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  } */


  /* justify-content */
  /* .grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */


  /* align-content */
  /* .grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */

